/* ==========================================================================
 * Global
 * ========================================================================== */

html{
	min-width: 1020px;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font-size: 16px;
	line-height: 1.2;
	font-family: $mainFontFamily;
	color: $text;
}

a{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

.link{
	border-bottom: 1px solid;
	transition: all .3s;
	&:hover{
		border-color: transparent;
	}
}

.inverselink{
	border-bottom: 1px solid transparent;
	transition: all .3s;
	&:hover{
		border-color: currentColor;
	}	
}

//android hack
p,
span{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); 
}

p{
	margin: 0 0 1em;
	&:last-child{
		margin: 0;
	}
}

strong{
	font-weight: 700;
}

sup{
	font-size: .8em;
	vertical-align: super;
}

.italic{
	font-style: italic;
}

.text{
	font-size: 16px;
	line-height: (24/16);
}
